/// <reference path = "../abstracts/__abstracts.scss">

.brand-logo{width: 100px;}

.main-content-section {
    padding: 55px 0 0 15%;
}

.data-container{
    background: #fff;
    padding:20px;
    margin: 10px 0;
}