/// <reference path = "../abstracts/__abstracts.scss">


.form-group {
    margin-bottom: 10px;
}

.form-control {
    @extend %default-style;
    height: 46px;
    border-radius: 3px;
    border: 1px solid $form-input-border;
    background: #fff;
    width: 100%;
    box-shadow: none;
    &:focus {
        border-color: $form-input-focus-border;
        outline: 0 none;
        box-shadow: none;
        label {
            color: $form-input-focus-border;
        }
    }
}

input.form-control {
    padding: 6px 30px 6px 12px
}

textarea.form-control{
    padding: 15px;
    resize: vertical;
    height: auto;
    min-height: 142px;
}

//// floating labels
.label-float {
    position: relative;
    label {
        position: absolute;
        color: #919191;
        top: 14px;
        left: 13px;
        transition: all .15s ease;
        cursor: text;
    }
    input {
        padding-top: 13px;
        transition: all .15s ease;
    }
    input:focus~label,
    .filled~label {
        font-size: 11px;
        top: 1px;
    }
}

.label-inline label{
    font-weight: 600;
    padding-right: 10px;
}