.ic-money {
    color: $green02
}

.ic-products {
    color: #CBA668;
}

.ic-followers {
    color: $red02
}

.ic-users {
    color: $yellow02
}

.ic-delete {
    cursor: pointer;
    padding: 0 4px;
}

.asc-order {
    .fa-sort::before {
        content: "\f0de"
    }
}

.dsc-order {
    .fa-sort::before {
        content: "\f0dd"
    }
}