.table-container {
    position: relative;
    margin: 40px 0 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid $border-color-secondary;
}

.table-grid {
    cursor: default;
    border-spacing: 0 6px;
    width: 100%;
    .ic-delete {
        visibility: hidden;
        font-size: 14px;
        float: right;
        color: #3591CF;
    }
    &:hover {
        .ic-delete {
            visibility: visible;
        }
    }
    li>div {
        overflow: hidden;
        display: table;
        width: 100%;
        &:hover .table-col {
            background: #f1f1f1
        }
    }
    .table-head {
        font-weight: 600;
        .table-col {
            cursor: pointer;
            background: #f1f1f1
        }
        .fa-sort {
            float: left;
            font-size: 12px;
            color: #3591CF;
            padding: 6px 6px 0 0;
        }
        @at-root .windows .table-head {
            padding: 0 17px 0 0;
        }
    }
    .table-body {
        width: 100%;
        max-height: 215px;
        overflow-y: auto;
    }
    .table-footer {
        padding: 20px 0 0;
    }
    .table-col {
        display: table-cell;
        padding: 10px;
        position: relative;
        width: 100px;
        margin-bottom: 10px;
        max-width: 100px;
        word-wrap: break-word;
        text-align: center;
        border-top: 1px solid $border-color-secondary;
        border-bottom: 1px solid $border-color-secondary;
        &:first-child {
            border-left: 1px solid $border-color-secondary;
        }
        &:last-child {
            border-right: 1px solid $border-color-secondary;
            &::after {
                content: none;
            }
        }
        &::after {
            content: '';
            border-right: 1px solid $border-color-secondary;
            position: absolute;
            right: 0;
            height: 93%;
            top: 2px;
        }
    }
    .product-color i {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-right: 3px;
    }
    span[data-column="1"] {
        width: 30px;
        max-width: 30px;
    }
}

.resizing {
    cursor: ew-resize
}

.price-col {
    &::first-letter {
        color: $green01;
        font-weight: 600;
        font-size: 14px;
    }
}

.cont-density {
    float: right;
    padding: 20px 10px 0 0;
    font-size: 15px;
    .fa {
        color: #3591CF;
        padding: 0 2px;
        cursor: pointer;
    }
}

.remove-row {
    cursor: pointer;
}

.elem-sort {
    font-size: 10px;
}

.trigger-resize {
    position: absolute;
    width: 9px;
    top: 0;
    right: 0;
    bottom: 0;
    cursor: col-resize;
}