.table-container {
    position: relative;
    margin: 40px 0 0;
    width: 100%;
    background: #fff;
    padding: 20px;
    border: 1px solid $border-color-secondary;
}

.table-grid {
    cursor: default;
    border-spacing: 0 6px;
    width: 100%;
    li>div {
        overflow: hidden;
        display: table;
        width: 100%;
        &:hover .table-col {
            background: #f1f1f1
        }
    }
    .table-head {
        font-weight: 600;
        .table-col {
            background: #f1f1f1
        }
    }
    .table-body {
        width: 100%;
        max-height: 215px;
        overflow-y: auto;
    }
    .table-footer {
        padding:20px 0 0;
    }
    .table-col {
        display: table-cell;
        padding: 10px;
        min-width: 100px;
        margin-bottom: 10px;
        text-align: center;
        border-top: 1px solid $border-color-secondary;
        border-bottom: 1px solid $border-color-secondary;
        &:first-child {
            border-left: 1px solid $border-color-secondary;
        }
        &:last-child {
            border-right: 1px solid $border-color-secondary;
        }
    }
    .product-color i {
        border-radius: 50%;
        width: 12px;
        height: 12px;
        display: inline-block;
        margin-right: 3px;
    }
}

.resizing{cursor: ew-resize}
.js-remove-row {
    cursor: pointer;
}