/// <reference path = "../abstracts/__abstracts.scss">
.user-profile {
    background: #fff;
}

.user-picture {
    text-align: center;
    background: $blue03;
    height: 54px;
    position: relative;
    .user-picture-inner {
        background: #fff;
        border-radius: 50%;
        margin-top: 36px;
        display: inline-block;
    }
    .fa-user-circle{
        font-size: 30px
    }
}

.user-details {
    padding: 10px;
}

.user-name {
    font-weight: 600;
    text-align: center;
    a {
        text-decoration: none;
        text-transform: capitalize
    }
}

.user-sale-details {
    padding: 10px 20%;
    li {
        margin: 6px 0
    }
    strong {
        width: 50%;
        display: inline-block
    }
}