@mixin transition-easeinout($property: all, $duration: .2s, $ease: ease-in-out){
    -webkit-transition: $property $duration $ease;
    -moz-transition: $property $duration $ease;
    -o-transition: $property $duration $ease;
    transition: $property $duration $ease;
}

@mixin linear-gradient-primary($from, $to) {
    background: $to;       
    background-image: -ms-linear-gradient(top left, $from 0%, $to 100%);
    background-image: -moz-linear-gradient(top left, $from 0%, $to 100%);
    background-image: -o-linear-gradient(top left, $from 0%, $to 100%);
    background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, $from), color-stop(100,$to));
    background-image: -webkit-linear-gradient(top left, $from 0%, $to 100%);
    background-image: linear-gradient(to bottom right, $from 0%, $to 100%);
}

@mixin linear-gradient-secondary($from, $to){
    background-image: -ms-linear-gradient(bottom left, $from 0%, $to 100%); 
    background-image: -moz-linear-gradient(bottom left, $from 0%, $to 100%);
    background-image: -o-linear-gradient(bottom left, $from 0%, $to 100%);
    background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, $from), color-stop(100, $to)); 
    background-image: -webkit-linear-gradient(bottom left, $from 0%, $to 100%); 
    background-image: linear-gradient(to top right, $from 0%, $to 100%);
}


// Button sizes
@mixin button-size($font-size,$font-weight,$padding,$btn-min-width) {
    min-width:$btn-min-width;
    font-size: $font-size;
    font-weight:$font-weight;    
    padding: $padding;    
}

// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active
@mixin button-variant($color,$background,$background-hover,$background-active,$border,$border-hover-color,$border-active-color) {
    color: $color;
    border:1px solid $border;
    background-color: $background; 
    &:hover       
        {
        color: $color;
        border-color:$border-hover-color;
        background-color:  $background-hover;               
        outline: none;      
    }
    &:active:focus, 
        &.active:focus,
        &:focus,
        &.focus,       
        &:active,
        &.active
        {
        color: $color;
        border-color:$border-active-color;
        background-color:$background-active;
        outline: none;       
    }
}




