//================================================================================
// Variables
// --------------------------------------------------

//************* Colors ******************//
$grey01             :           #f9f9f9;
$gray02             :           #494E4F;
$gray03             :           #EFEFEF;
$gray04             :           #FBFBFB;
$grey05             :           #B3B3B3;
$grey07             :           #757575;
$grey08             :           #DDD;
$grey09             :           #333;    // new color
$grey10             :           #D2D2D2; // new color
$grey11             :           #878787;
$gray97             :           #F7F7F7;
$gray98             :           #FAFAFA;

$blue               :           #1694BA;
$blue02             :           #EFF2F6;
$blue03             :           #DBF2FE;
$blue04             :           #1695BA;
$blue05             :           #1F5B83;
$blue06             :           #2380BE;
$blue07             :           #EEF9FF;
$blue08             :           #3591CF;
$blue09             :           #20C0F1;

$yellow01           :           #FFA60A;
$yellow02           :           #F7971D;
$yellow03           :           #EFCD2E;
$yellow04           :           #EFCD00;

$red01              :           #F05938;
$red02              :           #F1604D;
$red03              :           #E74B36;

$green01            :           #4ECD79;
$green02            :           #4DCEB9;
$green03            :           #F3FDF6;
$green05            :           #B1E674;
$green06            :           #4AB352;

$white              :           #FFF;
$transparent        :           transparent;
//************* Colors ********************//


//************* Typogrtpahy ***************//
//font sizes
$font-size-lg               :       18px; 
$font-size-md               :       16px;
$font-size-default          :       14px;
$font-size-sm               :       13px; 
$font-size-xs               :       12px; 

$font-size-h1               :       50px; 
$font-size-h2               :       30px; 
$font-size-h3               :       20px; 
$font-size-h4               :       18px; 
$font-size-h5               :       16px; 
$font-size-h6               :       14px;

//Font Weight
$font-weight-ultra-light    :       200;
$font-weight-light          :       300;
$font-weight-normal         :       400;
$font-weight-medium         :       500;
$font-weight-semi-bold      :       600;
$font-weight-bold           :       700;
//************* Typogrtpahy ***************//

//================================ Typography starts =================================================
$link-color             :       $blue08;
$link-color-alternate   :       $yellow02;
$link-hover-color       :       $blue05;
$color-error            :       $red01;
$color-success          :       $green01;

$font-family-primary    :       'Montserrat',Arial,sans-serif;
$font-family-default    :       'Open Sans',Arial,sans-serif;
$heading-font-family    :       $font-family-primary;

$text-darkbackground-color  :        null;
$text-title-color           :        null;
$text-btnlink-color         :        null;
$text-inlink-color          :        null;
$text-default-color         :        $gray02;
$border-color-primary       :        $grey05;
$border-color-secondary     :        $grey08;
//================================ Typography Ends ===================================================


//***************** Header *******************
$header-font-size                   :       $font-size-sm;
$header-active-color                :       $yellow02;
$header-border-color                :       $border-color-secondary;
$header-default-color               :       $text-default-color;

//** Unit-less 'line-height' .
$line-height-base       :        1.3; 


//** Background color for `<body>`.
$body-bg                :       $green03;
$primary-bg             :       $gray98;
$footer-bg              :       $gray02;
$color-bg1              :       $blue07;
$color-bg2              :       $gray97;
$color-bg3              :       $blue02;
$color-bg4              :       $blue03;

// == Button Colors


//***Buttons variable***
$btn-font-family            :       $font-family-primary;
$btn-font-weight            :       $font-weight-normal;
$btn-border                 :       $border-color-secondary;
$btn-disable-bg             :       $gray03;


//Buttons primary variable
$btn-primary-color:              $white;
$btn-primary-bg:                 $green06;
$btn-primary-bg-hover:           $green01;
$btn-primary-bg-active:          $green01;
$btn-primary-border:             $transparent;

//Buttons secondary variable
$btn-secondary-color:              $white;
$btn-secondary-bg:                 $blue09;
$btn-secondary-bg-hover:           $blue06;
$btn-secondary-bg-active:          $blue05;
$btn-secondary-border:             $transparent;


//Buttons deafult font size
$btn-font-size-base:             $font-size-default;
$btn-padding-base:               9px 15px;
$btn-width-base:                 120px;

//Buttons Large font size
$btn-font-size-lg:               $font-size-lg;
$btn-font-weight-lg:             null;// put null value if you don't want to override bootstrap's value
$btn-padding-lg:                 13px 20px;
$btn-width-lg:                   140px;

//Buttons extra small font size
$btn-font-size-xs:               12px;  
$btn-font-weight-xs:             null;// put null value if you don't want to override bootstrap's value
$btn-padding-xs:                 5px 10px;
$btn-width-xs:                   110px;

/******** Button Tabs **********/
$button-tabs-default		:	$blue08;

///  ************  Modals ************ ///
$modal-close-icon             :       $gray02;
$modal-border-color           :       $gray02;
$modal-header-color           :       $grey09;
$modal-default-width          :       500px;
$modal-small-width            :       400px;
$modal-large-width            :       600px;

///************** FORMS ********** ///
$form-input-border              :       $border-color-secondary;
$form-input-focus-border        :       $blue08;
$dropdown-menu-hover-color      :       $blue09;

//margin list
$margin-top-list            : 0 5 10 15 20 30; // list of all helper margin top values
$margin-bottom-list         : 0 5 10 15 20; // list of all helper margin bottom values
$margin-right-list          : 0 5 10 15 20; // list of all helper margin bottom values

//padding list
$padding-top-list           : 0 5 10 15 20; // list of all helper margin top values
$padding-bottom-list        : 0 5 10 15 20; // list of all helper margin bottom values
$padding-right-list         : 0 5 10 15 20; // list of all helper margin bottom values